name: dynamic_colorscheme
description: Generate a ColorScheme with Material 3 dynamic color by processing a CorePalette.
version: 1.0.1
homepage: https://instagram.com/quadrendev

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  dynamic_color: ^0.1.0
  material_color_utilities: ^0.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  

flutter:
  plugin:
    platforms:
      android:
        package: com.example.dynamic_colorscheme
        pluginClass: DynamicColorschemePlugin
